<p>Home</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis placeat amet corporis vitae ab id dicta et accusantium dolore! Minima!
</p>
<BaselinePhoenixWeb.Components.Example.render />
