.highlight-card {
    @apply drop-shadow-2xl;
}

.highlight-card .team-info {
    @apply !bg-blue-50;
}

.highlight-card .team-info #results-info {
    @apply !bg-blue-50;
}

.active-tab {
    @apply !text-blue-500;
}

.normal-bracket.bracket-card::after {
}

/* TRADITIONAL BRACKETS */

.traditional-bracket-grid {
    overflow: visible;
    display: grid;
    grid-auto-flow: column;
    font-size: 2px;
    line-height: 1;
    max-width: 100%;
    width: -webkit-fill-available;
    grid-template-rows: repeat(4, 4em);
    grid-template-columns: 3fr 7fr repeat(2, 2fr);
}

.bracket-text {
    font-size: 2em;
}

@media (min-width: 1284px) {
    .traditional-bracket-grid {
        font-size: 1mm;
        grid-template-rows: repeat(4, 6em);
    }

    .bracket-text {
        font-size: 3em;
    }
}


.traditional-bracket-grid.a4 {
    font-size: 1mm;
    grid-template-columns: 40em 80em repeat(2, 33em);
}

.bracket-team {
    grid-row: span 2;
    display: table;
    border: 1px solid var(--interface-border);
    border-radius: 2px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.bracket-spacer {
    position: relative;
}

.bracket-spacer::before {
    content: "";
    display: block;
    /* OUTLINE FOR DEV PURPOSE */
    /*outline: 1px solid #dddde3;*/
    height: -webkit-fill-available;
    margin: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.col1 {
    grid-column: 1;
}

.col2 {
    grid-column: 2;
}

.col3 {
    grid-column: 3;
}

.col4 {
    grid-column: 4;
}

.col5 {
    grid-column: 5;
}

.col6 {
    grid-column: 6;
}

.col7 {
    grid-column: 7;
}

.col8 {
    grid-column: 8;
}

.col9 {
    grid-column: 9;
}

.col10 {
    grid-column: 10;
}

.col11 {
    grid-column: 11;
}

.col12 {
    grid-column: 12;
}

.col13 {
    grid-column: 13;
}

.col14 {
    grid-column: 14;
}

.col15 {
    grid-column: 15;
}


.a4-page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    font-size: 1mm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    /* BORDER FOR DEV PURPOSE */
    /*border: 5px red solid;*/
    /*height: 276mm;*/
}

.subpage.fit-page{
    height: 276mm;
}

@page {
    size: A4;
    margin: 0;
}