/* Hotwire's version of data-disable-with */
button .when-disabled {
  display: none;
}

button[disabled] .when-disabled {
  display: initial;
}

button .when-enabled {
  display: initial;
}

button[disabled] .when-enabled {
  display: none;
}

@layer components {
  .btn {
    @apply inline-flex text-sm font-semibold text-center px-4 py-0 rounded no-underline items-center justify-between shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
    height: 40px;
    transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;
  }

  .btn:hover,
  .btn:focus {
    @apply cursor-pointer;
  }

  .btn:disabled {
    @apply opacity-75 cursor-not-allowed;
  }

  .btn-small {
    @apply px-3 text-sm;
    height: 36px;
    line-height: 36px;
  }

  .btn-xsmall {
    @apply px-2 text-xs;
    height: 32px;
    line-height: 32px;
  }

  .btn-large {
    @apply text-base px-6;
    height: 48px;
    line-height: 48px;
  }

  .btn-primary {
    @apply bg-[#03AA43] text-white dark:bg-court-500 dark:text-carbon-500 focus:ring-court-500;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    @apply bg-[#4FC47C] text-white;
  }

  .btn-primary.btn-outline {
    @apply bg-transparent border border-court-600 text-court-500 shadow-none;
  }

  .btn-primary.btn-outline:hover,
  .btn-primary.btn-outline:focus {
    @apply bg-court-600 text-white;
  }

  .btn-secondary {
    @apply bg-[#E5E5E5] text-black focus:ring-alto-500;
  }

  .btn-secondary:hover,
  .btn-secondary:focus {
    @apply bg-[#CCCCCC] text-black;
  }

  .btn-secondary.btn-outline {
    @apply bg-transparent border border-alto-500 text-alto-600 shadow-none;
  }

  .btn-secondary.btn-outline:hover,
  .btn-secondary.btn-outline:focus {
    @apply bg-alto-500 text-white;
  }

  .btn-tertiary {
    @apply bg-gray-600 text-white focus:ring-gray-600;
  }

  .btn-tertiary:hover,
  .btn-tertiary:focus {
    @apply bg-gray-700 text-white;
  }

  .btn-tertiary.btn-outline {
    @apply bg-transparent border border-gray-500 text-gray-700 dark:text-gray-100 shadow-none;
  }

  .btn-tertiary.btn-outline:hover,
  .btn-tertiary.btn-outline:focus {
    @apply bg-gray-700 text-white;
  }

  .btn-danger {
    @apply bg-red-600 text-white focus:ring-red-500;
  }

  .btn-danger:hover,
  .btn-danger:focus {
    @apply bg-red-500 text-white;
  }

  .btn-danger.btn-outline {
    @apply bg-transparent border border-red-500 text-red-500 shadow-none;
  }

  .btn-danger.btn-outline:hover,
  .btn-danger.btn-outline:focus {
    @apply bg-red-500 text-white;
  }

  .btn-gray {
    @apply bg-gray-100 text-gray-800 hover:bg-gray-200 hover:text-gray-800 focus:ring-gray-600;
  }

  .btn-dark-gray {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300 hover:text-gray-900 focus:ring-gray-600;
  }

  .btn-light-gray {
    @apply bg-gray-100 text-gray-800 hover:bg-gray-200 hover:text-gray-800 focus:ring-gray-600 dark:bg-gray-700 dark:text-gray-200;
  }

  .btn-white {
    @apply bg-white border border-gray-300 text-gray-700 hover:bg-gray-100 hover:text-gray-700 focus:ring-blue-500;
  }

  .btn-white.primary {
    @apply text-blue-600;
  }

  .btn-white.secondary {
    @apply text-green-600;
  }

  .btn-white.tertiary {
    @apply text-gray-600;
  }

  .btn-white.gray {
    @apply text-gray-700;
  }

  .btn-link {
    @apply text-blue-500 bg-transparent shadow-none;
  }

  .btn-link:hover,
  .btn-link:focus {
    @apply text-blue-600;
    transform: none;
  }

  .btn-light-blue {
    @apply text-blue-700 bg-blue-100 focus:ring-blue-700;
  }

  .btn-light-green {
    @apply text-green-700 bg-green-100 focus:ring-green-700;
  }

  .btn-light-red {
    @apply text-red-700 bg-red-100 focus:ring-red-700;
  }

  .btn-blue {
    @apply bg-blue-500 text-white focus:ring-blue-500;
  }

  .btn-blue:hover,
  .btn-blue:focus {
    @apply bg-blue-600 text-white;
  }

  .btn-blue.btn-outline {
    @apply bg-transparent border border-blue-500 text-blue-500 shadow-none;
  }

  .btn-blue.btn-outline:hover,
  .btn-blue.btn-outline:focus {
    @apply bg-blue-600 text-white;
  }

  .btn-expanded,
  .btn-block {
    @apply flex justify-center w-full;
  }

  .radio-chip {
    @apply inline-flex gap-2 items-center justify-center p-2 bg-white md:bg-white ring-2 ring-[#DDDDE3] w-full rounded-full text-black cursor-pointer;
  }

  .radio-chip.radio-chip-primary {
    @apply peer-checked:border-none peer-checked:bg-[#CDEED9] peer-checked:ring-2 peer-checked:ring-[#03AA43] peer-checked:text-[#03AA43];
  }

  .radio-chip.radio-chip-primary:hover {
    @apply bg-[#CDEED9];
  }

  .radio-chip.radio-chip-negative {
    @apply peer-checked:border-none peer-checked:bg-[#FED7D7] peer-checked:ring-2 peer-checked:ring-[#FF424E] peer-checked:text-[#FF424E];
  }

  .radio-chip.radio-chip-negative:hover {
    @apply bg-[#FED7D7];
  }
}