a.link {
    @apply text-blue-700 underline underline-offset-2;
}

/* .badge {
    @apply px-2 py-1 bg-gray-300 dark:bg-carbon-400 text-carbon-500 dark:text-white text-sm font-medium rounded;
} */

ul.baseline-list {
    list-style: none;
    padding-left: 2px;
    @apply space-y-2;
}

ul.baseline-list li {
    background-image: url('/assets/images/list-badge.png');
    background-repeat: no-repeat;
    background-position: 0% 5px;
    background-size: 14px 14px;
    padding-left: 26px; /* Adjust based on the actual size of the image plus some space */
    @apply text-gray-600 font-medium;
}

.lg-backdrop.in {
    @apply !opacity-90;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.allow-scroll-no-bar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.allow-scroll-no-bar::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.hide-volume-control::-webkit-media-controls-volume-slider,
.hide-volume-control::-webkit-media-controls-mute-button {
    display: none;
}