<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "BaselinePhoenix" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased baseline-phoenix-web">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <%= @inner_content %>
    <div class="flex gap-4">
      <BaselinePhoenixWeb.Components.Step.step no={1} status="done" title="DONE" />
      <BaselinePhoenixWeb.Components.Step.step no={2} status="current" title="CURRENT" />
      <BaselinePhoenixWeb.Components.Step.step no={3} status="upcoming" title="UPCOMING" />
      <BaselinePhoenixWeb.Components.Step.step no={4} status="upcoming" title="UPCOMING" />
      <BaselinePhoenixWeb.Components.Step.step no={4} status="upcoming" title="UPCOMING" />
      <BaselinePhoenixWeb.Components.Step.step no={4} status="upcoming" title="UPCOMING" />
    </div>
    <div class="mt-6 p-10">
      <BaselinePhoenixWeb.Components.Card.card
        avatar_url="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
        name="Đỗ Tâm Hiền Dương"
        id={76_728_364}
        rank={200}
        verified="true"
        branch="Nhánh 1"
      />
    </div>
  </body>
</html>
